<% if flash[:notice]%>
  <div class="container-fluid alert alert-primary fw-bold mx-0 text-center">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="container-fluid alert alert-danger fw-bold mx-0 text-center">
    <%= flash[:alert] %>
  </div>
<% end %>

<script>
  $(".alert").fadeOut(3500)
</script>