
$body-bg: #373d41;

@import "bootstrap";

$backdrop: #373d41;
$main: #5aba7d;
$secondary: #ccddcc;
$tertiary: #6699bb;
$hover: #99bbf0;

.container-bg {
    background-color: $backdrop;
}

.btn-main{
    background-color: $main;
}

.btn-sec{
    background-color: $secondary;
}

.btn-tert{
    background-color: $tertiary;
}

html{
    background-color: $backdrop;
}

.hover:hover{
    color: $hover !important;
}

.field_with_errors{
    background-color: #c41b4d;
    border-radius: 0.1rem;
    display: inline;
}

.text-main{
    color: $main;
}

.text-sec{
    color: $main;
}

.text-tert{
    color: $main;
}

.title{
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
}