<div class="container text-center mt-4 text-light">
  <h1 class="fs-2 fw-bold">
    Secrets never last...
  </h1>
  <p class="lead"> There are no secrets posted at the moment.</p>
  <% if !current_user %>
    <p class="lead"> Join today and share a secret ! </p>
    <%= link_to "Login", new_session_path,
      class: "btn btn-sec hover" %>
  <% else %>
    <p class="lead"> Got a secret to share ? </p>
    <%= link_to "Share Secret", new_secret_url,
      remote: true,
      "data-bs-toggle" => "modal",
      "data-bs-target" => "#modal-window",
      class: "btn btn-tert hover"%>
  <% end %>
</div>