
<% @secret.reverse.each do |secret|%>

  <div class="container d-flex flex-column justify-content-center mt-2 border rounded bg-light">

    <div class="container d-flex justify-content-end position-relative end-0 p-0">
      <%= render "shared/post_header", secret: secret%>
    </div>
    <div class="container border-bottom border-success d-flex justify-content-between title px-0">
      <%= link_to secret_url(secret.id) do%>
        <h3 class="fs-2 fw-bold">
          <%= secret.title %>
        </h3>
      <% end %>

    </div>
    <div class="container px-0">
      <p class="py-2 px-0"><%= secret.body %></p>
    </div>
  </div>
<% end %>