<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item mx-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Share Secret", new_secret_url,
        class: "btn text-light btn-main"%>
    </div>
  </li>
  <li class="nav-item mx-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Logout", destroy_user_session_path,
        method: :delete,
        class: "btn text-dark btn-sec" %>
    </div>
  </li>
  <li class="nav-item mx-1 d-md-none">
    <div class="container">
      <%= link_to "Share Secret", new_secret_url,
        class: "btn text-light"%>
    </div>
  </li>
  <li class="nav-item mx-1 d-md-none">
    <div class="container">
      <%= link_to "Logout", destroy_user_session_path,
        method: :delete,
        class: "btn text-light" %>
    </div>
  </li>
</ul> 