<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item m-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Share Secret", new_secret_url,
        remote: true,
        class: "btn text-light btn-main hover"%>
    </div>
  </li>
  <li class="nav-item m-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Logout", destroy_user_session_path,
        method: :delete,
        class: "btn text-dark btn-sec hover" %>
    </div>
  </li>
  <li class="nav-item me-auto d-md-none">
    <div class="container">
      <%= link_to "Share Secret", new_secret_url,
        remote: true,
        class: "btn text-light hover"%>
    </div>
  </li>
  <li class="nav-item me-auto d-md-none">
    <div class="container">
      <%= link_to "Logout", destroy_user_session_path,
        method: :delete,
        class: "btn text-light hover" %>
    </div>
  </li>
</ul> 