<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item m-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Sign Up", new_user_registration_path,
        class: "btn text-light btn-main hover"%>
    </div>
  </li>
  <li class="nav-item m-1 d-none d-md-inline">
    <div class="container">
      <%= link_to "Login", new_user_session_path,
        class: "btn text-dark btn-sec hover" %>
    </div>
  </li>
  <li class="nav-item me-auto d-md-none">
    <div class="container">
      <%= link_to "Sign Up", new_user_registration_path,
        class: "btn text-light hover"%>
    </div>
  </li>
  <li class="nav-item me-auto d-md-none">
    <div class="container">
      <%= link_to "Login", new_user_session_path,
        class: "btn text-light hover" %>
    </div>
  </li>
</ul> 