

<div class="modal fade" id="modal-window" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<div class="container container-bg mt-2">

  <div class="row">
    <div class="col d-none d-lg-block">
      
    </div>
    <div class="col-12 col-lg-6 mb-3" id="post-feed">
      <% if @secret.is_a?(Enumerable) && @secret.empty? %>
        <%= render "empty"%>
      <% else %>
        <%= render "feed" %>
      <% end %>
    </div>
    <div class="col d-none d-lg-block">

    </div>
  </div>

</div>

