
<div class="container-sm d-flex flex-column justify-content-center mt-2" style="max-width: 40vw">

  <div class="container d-flex flex-column bg-light rounded">
    <h2 class="fw-bold">
      <%= @secret.title %>
    </h2>
    <hr>
    <p class="lead ps-2">
      <%= @secret.body %>
    </p>
    <% if user_signed_in? %>
      <div class="container bg-light">
        <%# space to write comments with form/ajax %>
      </div>
    <% end %>
  </div>



  <div class="container mt-3">
    <%= link_to "Back", secrets_url, class: "btn btn-sec" %>
  </div>
</div>
